@mixin utils-clearfix {
  $selector: &;

  @at-root {
    #{$selector}::after,
    #{$selector}::before {
      display: block;
      content: '';
    }
  
    #{$selector}::after {
      clear: both;
    }
  }
}

@mixin utils-user-select ($value) {
  user-select: $value;
  -moz-user-select: $value;
  -webkit-user-select: $value;
  -ms-user-select: $value;
}