@mixin utils-clearfix {
  $selector: &;

  @at-root {
    #{$selector}::after,
    #{$selector}::before {
      display: block;
      content: '';
    }
  
    #{$selector}::after {
      clear: both;
    }
  }
}